.login-btn {
    margin-top: 1rem;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-card {
    width: 25rem;
    background-color: #252a7b;
}

.login-form .form-label {
    font-weight: 700;
    color: #fff;
}

.login-form .form-control {
    margin-bottom: 1rem;
}